.contanier {
  position: relative;
  width: 100%;
  height: 100%;
}

.left-board {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 260px;
  background-color: beige;
}

.center-board {
  height: 100vh;
  width: auto;
  margin: 0px 260px 350px;
  box-sizing: border-box;
  background-color: blue;
}

.right-board {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 350px;
  background-color: black;
}
